body {
  background: #585858;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}


#name {
  color: #C5AC9A;
  text-align: left;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.intro {
  position:relative;
  top: -170px;
}

a {
  text-decoration: none;
  color: white;
  padding: 20px;
}

h1 {
  font-size: 57px;
  margin-top: 190px;
  color: white;
  text-decoration: underline;
  text-shadow: #585858 1px 0 10px;
}

button {
  border: none;
}

.pgbuttons {
  font-size: 37px;
  /*display: flex;*/
 /* justify-content: space-around;*/
  color: white;
  text-shadow: black 1px 0 10px;
  text-align: left;
}

#butts {
  top: -110px;

}


#quote {
  --weight: 10;
  font-size: 37;
  font-weight: 170;
  line-height: 0.8;
  margin: 0;
  text-align: left;
}

#quote > * {
  color: hsl(347, 7%, 29%);
  text-shadow: black 1px 0 10px;
}
.grid {
  grid-template-columns: repeat(3, 1fr);
}

a {
    border: 4px solid #C5AC9A;
    color: #C5AC9A;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin: auto;
    padding: 12px 32px 12px 82px;
    position: relative;
    text-decoration: none;
    top: -100px;
}

a .label,
a .icon-arrow {
    backface-visibility: hidden;
    transform: translateZ(0);
    perspective: 1000;
}

a .label {
    display: inline-block;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

a .icon-arrow {
    fill: #C75741;
    height: 15px;
    top: 17px;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1);
    width: 35px;
}

a .icon-arrow.before {
    left: 32px;
    margin-right: 15px;
    position: absolute;
    transform-origin: left center;
}

a .icon-arrow.after {
    margin-left: 15px;
    opacity: 0;
    position: absolute;
    right: 32px;
    transform: translateX(75%) scaleX(0.1);
    transform-origin: right center;
}

a:hover .label {
    transform: translateX(-52px);
}

a:hover .icon-arrow.before {
    opacity: 0;
    transform: translateX(-75%) scaleX(0.1);
}

a:hover .icon-arrow.after {
    opacity: 1;
    transform: translateX(0) scaleX(1);
}

a:active {
    border-color: #C5AC9A;
    color: #FD6154;
}

a:active .icon-arrow {
    fill: #FD6154;
}

.footer {
  position: relative;
  background-color: #585858;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links button {
  color: #C5AC9A;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  border: none;
  background: none;
  cursor: pointer;
  outline: inherit;
}
.footer-links button:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-copyright {
  color: #C5AC9A;
}



/*.superShadow {
  text-shadow:     0 1px 0 hsl(174,5%,80%),
                     0 2px 0 hsl(174,5%,75%),
                     0 3px 0 hsl(174,5%,70%),
                     0 4px 0 hsl(174,5%,66%),
                     0 5px 0 hsl(174,5%,64%),
                     0 6px 0 hsl(174,5%,62%),
                     0 7px 0 hsl(174,5%,61%),
                     0 8px 0 hsl(174,5%,60%),

                     0 0 5px rgba(0,0,0,.05),
                    0 1px 3px rgba(0,0,0,.2),
                    0 3px 5px rgba(0,0,0,.2),
                   0 5px 10px rgba(0,0,0,.2),
                  0 10px 10px rgba(0,0,0,.2),
                  0 20px 20px rgba(0,0,0,.3);
}*/

