@import url("https://fonts.googleapis.com/css?family=Montserrat:900");

body {
  background-color: #BC96E6;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

strong {
  color: #EEF16E;
}

.container {
  display: flex;
  z-index: 10;
 /* width: ;*/
}
.container ul.menu {
  height: 50px;
  width: 50px;
}
.container ul.menu li {
  position: relative;
  background: white;
  margin: 10px;
  height: 8px;
  width: 50px;
  transition: transform .3s, width .3s;
}
.container .active_menu li:nth-child(1) {
  top: 18px;
  transform: rotate(135deg);
  transition: transform .3s;
}
.container .active_menu li:nth-child(2) {
  width: 0;
  transition: width .3s;
}
.container .active_menu li:nth-child(3) {
  bottom: 18px;
  transform: rotate(-135deg);
  transition: transform .3s;
}
.container ul.links {
  z-index: 12;
  overflow: hidden;
  width: 0;
  margin-left: 0px;
  transition: width .4s, margin-left .4s;
}
.container ul.links li {
  margin: 5px;
}
.container ul.links li a {
  color: white;
  text-decoration: none;
  transition: color .5s;
  text-transform: uppercase;
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  transition: color .5s, margin-left .5s;
}
.container ul.links li a:hover {
  color: black;
  margin-left: 20px;
  transition: color .5s, margin-left .5s;
}
.container .active_links {
  width: 370px !important;
  margin-left: 35px !important;
  transition: width .4s, margin-left .4s;
}

.flex-center {
  min-height: 50vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-3d {
  padding: 10px;
  -webkit-animation: icon3d 200ms 10;
  animation: icon3d 200ms 10;
  color: #fff;
}
.icon-3d:hover {
  -webkit-animation: icon3d 200ms infinite;
  animation: icon3d 200ms infinite;
}

@keyframes icon3d {
  0% {
    text-shadow: 5px 4px #eef16e, -5px -6px #bc96e6;
  }
  25% {
    text-shadow: -5px -6px #eef16e, 5px 4px #bc96e6;
  }
  50% {
    text-shadow: 5px -4px #eef16e, -8px 4px #bc96e6;
  }
  75% {
    text-shadow: -8px -4px #eef16e, -5px -4px #bc96e6;
  }
  100% {
    text-shadow: -5px 0 #eef16e, 5px -4px #bc96e6;
  }
}
