* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #5bc0eb;
}

body {
  font-family: 'Raleway', sans-serif;
  background: #585858;
  /*//background: #EEF16E;*/
}

header.header {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
header.header h1 {
  font-size: 8rem;
  color: #222222;
  text-align: center;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 900;
}

.craftin {
  margin-left: 450px;
  z-index: -20;
}

.blind {
  margin-top: 0px;
  margin-bottom: 0px;
}

// cards

// body {
//   padding: 50px;
//   display: flex;
//   flex-flow: wrap;
//   font-family: "Ubuntu", sans-serif;
// }
// body * {
//   box-sizing: border-box;
// }

.big-contain {
  padding-bottom: 180px;
}

.card-container {
  flex: 150px;
  margin: 30px;
  margin-left: 22px;
  position: relative;
  bottom: 120px;
}
.card-container .card {
  font-weight: bold;
  position: relative;
  width: 50%;
  top: 250;
}
.card-container .card {
  padding: 30px;
  width: 72%;
  height: 400px;
  border: 2px solid black;
  background: white;
  text-decoration: none;
  color: black;
  display: block;
  transition: 0.25s ease;
}
.card-container .card:hover {
  transform: translate(-30px, -30px);
  border-color: ;
}
.card-container .card:hover .card--display {
  display: none;
}
.card-container .card:hover .card--hover {
  display: block;
}
.card-container .card .card--display i {
  font-size: 60px;
  margin-top: 200px;
}
.card-container .card .card--display h2 {
  margin: 20px 0 0;
}
.card-container .card .card--hover {
  display: none;
}
.card-container .card .card--hover h2 {
  margin: 20px 0;
}
.card-container .card .card--hover p {
  font-weight: normal;
  line-height: 1.5;
}
.card-container .card .card--hover p.link {
  margin: 20px 0 0;
  font-weight: bold;
  color: #5bc0eb;
}
.card-container .card .card--border {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 2px dashed black;
  z-index: -1;
}
.card-container .card.card--dark {
  color: white;
  background-color: black;
  border-color: black;
}
.card-container .card.card--dark .card--hover .link {
  color: #fde74c;
}

// ham


#toggle{
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: -1;
}

#toggle:checked ~ dialog {
  display: block;
}

label{
  background: skyblue;
  color: white;
  padding: .5em 1em;
  border-radius: 4px;
}
@keyframes appear {
  0%{
    opacity: 0;
    transform: translateY(-10px);
  }
}

dialog{
  animation: appear 350ms ease-in 1;
  max-width: 800px;
}

.footer {
  position: fixed;
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}


#quote {
  --weight: 10;
  font-size: 37;
  font-weight: 170;
  line-height: 0.8;
  margin: 0;
  text-align: center;
}

#quote > * {
  color: hsl(347, 7%, 29%);
  text-shadow: black 1px 0 10px;
}
.grid {
  grid-template-columns: repeat(3, 1fr);
}
