* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background: #BC96E6;
  /*//background: #EEF16E;*/
}

header.header {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
header.header h1 {
  font-size: 8rem;
  color: #222222;
  text-align: center;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 900;
}
.glitched {
  margin-bottom: 0;
}

.glitch-window {
  position: absolute;
  top: 0;
  left: -2px;
  width: 100%;
  color: #222222;
  text-shadow: 2px 0 #F9F8F8, -1px 0 yellow, -2px 0 green;
  overflow: hidden;
  animation: crt-me 2500ms infinite linear alternate-reverse;
}

@-webkit-keyframes crt-me {
  0% {
    clip: rect(31px, 9999px, 94px, 0);
  }
  10% {
    clip: rect(112px, 9999px, 76px, 0);
  }
  20% {
    clip: rect(85px, 9999px, 77px, 0);
  }
  30% {
    clip: rect(27px, 9999px, 97px, 0);
  }
  40% {
    clip: rect(64px, 9999px, 98px, 0);
  }
  50% {
    clip: rect(61px, 9999px, 85px, 0);
  }
  60% {
    clip: rect(99px, 9999px, 114px, 0);
  }
  70% {
    clip: rect(34px, 9999px, 115px, 0);
  }
  80% {
    clip: rect(98px, 9999px, 129px, 0);
  }
  90% {
    clip: rect(43px, 9999px, 96px, 0);
  }
  100% {
    clip: rect(82px, 9999px, 64px, 0);
  }
}

@keyframes crt-me {
  0% {
    clip: rect(31px, 9999px, 94px, 0);
  }
  10% {
    clip: rect(112px, 9999px, 76px, 0);
  }
  20% {
    clip: rect(85px, 9999px, 77px, 0);
  }
  30% {
    clip: rect(27px, 9999px, 97px, 0);
  }
  40% {
    clip: rect(64px, 9999px, 98px, 0);
  }
  50% {
    clip: rect(61px, 9999px, 85px, 0);
  }
  60% {
    clip: rect(99px, 9999px, 114px, 0);
  }
  70% {
    clip: rect(34px, 9999px, 115px, 0);
  }
  80% {
    clip: rect(98px, 9999px, 129px, 0);
  }
  90% {
    clip: rect(43px, 9999px, 96px, 0);
  }
  100% {
    clip: rect(82px, 9999px, 64px, 0);
  }
}
.inspiration-button {
  font-family: Helvetica, sans-serif;
  position: fixed;
  display: inline-block;
  z-index: 100;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  color: white;
  text-decoration: none;
  padding: 0.75rem 1rem;
  border-radius: 80px;
  background: linear-gradient(270deg, #1e80dc, #c61590);
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}
.inspiration-button:hover, .inspiration-button:focus, .inspiration-button:active {
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
}

// cards

// body {
//   padding: 50px;
//   display: flex;
//   flex-flow: wrap;
//   font-family: "Ubuntu", sans-serif;
// }
// body * {
//   box-sizing: border-box;
// }

.big-contain {

}

.card-container {
  flex: 150px;
  margin: 30px;
  margin-left: 250px;
  position: relative;
  bottom: 120px;
}
.card-container .card {
  font-weight: bold;
  position: relative;
  width: 50%;
  top: 250;
}
.card-container .card a {
  padding: 30px;
  width: 100%;
  height: 400px;
  border: 2px solid black;
  background: white;
  text-decoration: none;
  color: black;
  display: block;
  transition: 0.25s ease;
}
.card-container .card a:hover {
  transform: translate(-30px, -30px);
  border-color: #EEF16E;
}
.card-container .card a:hover .card--display {
  display: none;
}
.card-container .card a:hover .card--hover {
  display: block;
}
.card-container .card a .card--display i {
  font-size: 60px;
  margin-top: 200px;
}
.card-container .card a .card--display h2 {
  margin: 20px 0 0;
}
.card-container .card a .card--hover {
  display: none;
}
.card-container .card a .card--hover h2 {
  margin: 20px 0;
}
.card-container .card a .card--hover p {
  font-weight: normal;
  line-height: 1.5;
}
.card-container .card a .card--hover p.link {
  margin: 20px 0 0;
  font-weight: bold;
  color: #5bc0eb;
}
.card-container .card .card--border {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 2px dashed black;
  z-index: -1;
}
.card-container .card.card--dark a {
  color: white;
  background-color: black;
  border-color: black;
}
.card-container .card.card--dark a .card--hover .link {
  color: #fde74c;
}

// ham

@import url("https://fonts.googleapis.com/css?family=Montserrat:900");
html, body {
  height: 100%;
  width: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #11998e, #38ef7d);
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  display: flex;
  z-index: 10;

}
.container ul.menu {
  height: 50px;
  width: 50px;
}
.container ul.menu li {
  position: relative;
  background: white;
  margin: 10px;
  height: 8px;
  width: 50px;
  transition: transform .3s, width .3s;
}
.container .active_menu li:nth-child(1) {
  top: 18px;
  transform: rotate(135deg);
  transition: transform .3s;
}
.container .active_menu li:nth-child(2) {
  width: 0;
  transition: width .3s;
}
.container .active_menu li:nth-child(3) {
  bottom: 18px;
  transform: rotate(-135deg);
  transition: transform .3s;
}
.container ul.links {
  z-index: 12;
  overflow: hidden;
  width: 0;
  margin-left: 0px;
  transition: width .4s, margin-left .4s;
}
.container ul.links li {
  margin: 5px;
}
.container ul.links li a {
  color: white;
  text-decoration: none;
  transition: color .5s;
  text-transform: uppercase;
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  transition: color .5s, margin-left .5s;
}
.container ul.links li a:hover {
  color: black;
  margin-left: 20px;
  transition: color .5s, margin-left .5s;
}
.container .active_links {
  width: 370px !important;
  margin-left: 35px !important;
  transition: width .4s, margin-left .4s;
}


/*modal*/


#toggle{
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: -1;
}

#toggle:checked ~ dialog {
  display: block;
}

label{
  background: skyblue;
  color: white;
  padding: .5em 1em;
  border-radius: 4px;
}
@keyframes appear {
  0%{
    opacity: 0;
    transform: translateY(-10px);
  }
}

dialog{
  animation: appear 350ms ease-in 1;
  max-width: 800px;
}
